@tailwind base;
@tailwind components;
@tailwind utilities;

/* Exo 2 */
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Exo 2";
  src: url("/fonts/Exo_2/Exo2-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
