.font-press
  font-family: 'Press Start 2P', cursive
.font-roboto
  font-family: 'Roboto Mono', monospace
.font-monts
  font-family: 'Montserrat', sans-serif
.font-cabin
  font-family: "Cabin", sans-serif
.font-helve
  font-family: Inter, "Helvetica Neue", Helvetica, sans-serif

.f-25
  font-size: 25px !important
.f-24
  font-size: 24px !important
.f-20
  fort-size: 20px !important
.f-19
  font-size: 19px !important
.f-18
  font-size: 18px !important
.f-17
  font-size: 17px !important
.f-16
  font-size: 16px !important
.f-15
  font-size: 15px !important
.f-13
  font-size: 13px !important
.f-12
  font-size: 12px !important
.f-11
  font-size: 11px !important
.f-10
  font-size: 10px !important

.text-gray-400
  color: rgb(156, 163, 175) !important
