.font-press
  font-family: 'Press Start 2P', cursive
.font-monts
  font-family: 'Montserrat', sans-serif
.font-exo
  font-family: 'Exo 2', sans-serif
.font-play
  font-family: 'Play', sans-serif

.f-25
  font-size: 25px !important
.f-24
  font-size: 24px !important
.f-23
  font-size: 23px !important
.f-21
  font-size: 21px !important
.f-20
  fort-size: 20px !important
.f-19
  font-size: 19px !important
.f-18
  font-size: 18px !important
.f-17
  font-size: 17px !important
.f-16
  font-size: 16px !important
.f-15
  font-size: 15px !important
.f-13
  font-size: 13px !important
.f-12
  font-size: 12px !important
.f-11
  font-size: 11px !important
.f-10
  font-size: 10px !important

.text-gray-400
  color: rgb(156, 163, 175) !important

.up-down
  -webkit-animation: mover 3s infinite alternate
  animation: mover 3s infinite alternate

@-webkit-keyframes mover
  0%
    transform: translateY(100px)
  100%
    transform: translateY(50px)

@keyframes mover
  0%
    transform: translateY(-100px)
  100%
    transform: translateY(50px)

.page-enter-active, .page-leave-active 
  transition: all .25s ease-out

.page-enter, .page-leave-active
  opacity: 0
  transform-origin: 50% 50%
