::-webkit-scrollbar
  width: 6px
  &-track
    background: #111827 !important
  &-thumb
    background: #083766
    &:hover
      background: #062a4e

a
  text-decoration: none !important
  color: #fff !important
  &:hover
    color: #FFB300 !important
// Vuetify custom classes

.v-skeleton-loader
  &__list-item-avatar, &__text, &__bone, &__list-item-avatar-two-line
    background-color: transparent !important

// .theme--dark .v-expansion-panels .v-expansion-panel-header--active
//   .v-icon
//     color: red !important
.v-tabs-items
  background-color: transparent !important

.v-list-item
  &:hover, &--active
    background-color: rgba(255, 255, 255, .05) !important

.v-progress-linear:hover
  cursor: pointer

.challenge
  text-align: justify !important
  color: #f9eae1 !important
  // background-color: #1e1e1e !important

  .theme--light.v-input input, .theme--light.v-input textarea
    color: #fff !important

  ::placeholder
    color: rgba(255, 255,255,0.5) !important

  .v-expansion-panel-content
    a
      color: #2196f3 !important

  strong
    color: #f8eee7 !important

  .hljs
    color: #f9eae1 !important
  blockquote
    padding: .1em 1em .0em .75em !important
    border-left: 3px #feb32b solid !important
    margin: 1em 1em !important
    vertical-align: middle !important
    background-color: #2f2f2f !important
    line-height: 2.2em !important
    text-align: justify !important

  // .theme--dark.v-application code
  code
    color: #feb32b !important
    padding: 2px 4px !important
    font-size: 90% !important
    background-color: #ffffff10 !important
    border-radius: 4px !important
    word-break: break-all !important

#profile
  color: rgba(255, 255, 255,0.5) !important
