::-webkit-scrollbar
  width: 6px
  &-track
    background: #111827 !important
  &-thumb
    background: #083766
    &:hover
      background: #062a4e

a
  text-decoration: none !important
  color: #fff !important
  &:hover
    color: #FFB300 !important
// Vuetify custom classes

.v-skeleton-loader
  &__list-item-avatar, &__text, &__bone, &__list-item-avatar-two-line
    background-color: transparent !important

// .theme--dark .v-expansion-panels .v-expansion-panel-header--active
//   .v-icon
//     color: red !important
.v-tabs-items
  background-color: transparent !important

.v-list-item
  &:hover, &--active
    background-color: #202e4b !important

.v-progress-linear:hover
  cursor: pointer

#profile
  color: rgba(255, 255, 255,0.5) !important
