// Theme created by: ByamB4
.theme
  &--light

    &.v-application
      .text
        color: #fff !important
      .text--secondary
        color: rgba(255, 255, 255,0.5) !important
      .grey.lighten-4
        background-color: #121923 !important

    .v-app-bar, .v-main, .v-footer, .v-navigation-drawer
      background-color: $light-core !important
      color: #fff !important
    .v-data-table
      background-color: transparent !important
      tr
        &:hover
          background-color: rgba(255, 255, 255, .05) !important

    .v-list-item
      &--active
        background-color: $light-item !important
        // background-color: red !important
      &__title
        color: #fff !important
      &:not(&--active):hover
        background-color: $light-item-light !important
    .v-tab
      &--active
        border-bottom: 4px solid $light-tab

    .v-btn
      &--block
        background-color: $light-bg
    // .theme--light.v-btn.v-btn--has-bg
    .v-card
      background-color: $light-supp !important
      color: #fff !important
      .v-btn.v-btn
        &--disabled
          color: #fff9 !important

    .v-messages
      color: #fff9 !important

    .v-input
      input::placeholder, textarea::placeholder
        color: #fff9 !important
      .v-label
        color: rgba(255, 255, 255, 0.6) !important
      .v-counter
        color: #fff
      &__icon > .v-icon
        color: #fff

    .v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset
      color: rgba(255, 255, 255, 0.6) !important

    .v-expansion-panel-header
      &--active
        border-left: 4px solid $light-tab !important
        .v-icon
          color: $light-tab !important
      &:not(&--active):hover
        border-left: 3px solid $light-tab-light !important
        .v-icon
          color: $light-tab-light !important

    .v-progress-circular
      color: $light-tab !important

    .v-pagination
      &__item
        background-color: #1f2937 !important
        color: #fff !important
        &--active
          background-clip: $light-supp !important
      &__navigation
        background-color: $light-item-light !important
        .v-icon
          color: #fff !important

    .user-bg
      background-color: $light-supp !important
    // Used to editor

    .bg-transparent
      background-color: $light-core !important

  &--dark
    .v-app-bar, .v-main, .v-footer, .v-navigation-drawer
      background-color: $dark-core !important
    .v-tabs > .v-tabs-bar
      background-color: transparent !important

    .v-tab
      &--active
        border-bottom: 4px solid $dark-tab

    .v-btn
      &--block
        background-color: $dark-bg
        // &:hover
        //   background-color: $dark-core

    .v-expansion-panel-header
      &--active
        border-left: 4px solid $dark-tab !important
        .v-icon
          color: $dark-tab !important
      &:not(&--active):hover
        border-left: 3px solid $dark-tab-light !important
        .v-icon
          color: $dark-tab-light !important
    .v-card
      background-color: $dark-supp !important
    .v-list-item
      &--active
        background-color: $dark-item !important
      &:not(&--active):hover
        background-color: $dark-item-light !important

    .v-data-table
      background-color: transparent !important
      tr
        &:hover
          background-color: rgba(255, 255, 255, .05) !important

    .v-progress-circular
      color: $dark-tab !important

    .v-pagination
      &__item
        background-color: #202030 !important
        &--active
          background-clip: $dark-supp !important
      &__navigation
        background-color: $dark-item-light !important

    .user-bg
      background-color: $dark-supp !important
    // Used to editor
    .user-toolbar
      background-color: #202030 !important

    .bg-transparent
      background-color: $dark-core !important
