$gray-50: #f9fafb;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;

$white: #fff;
$neon: #76ff03; // light-green accent-3
$light-yellow: #f9eae1;
$gold: #ffdf00;
$silver: #d3d3d3;
$bronze: #cd7f32;

// Related app
// $app-supp: #111827;
// $app-core: #0c1221;

// Theme pink
// $dark-core: #202030;
// $dark-bg: #206070;
// $dark-supp: #1f2937;
// $dark-tab: #7b1fa2;
// $dark-tab-light: #995db3;
// $dark-item: #5546677d;
// $dark-item-light: #4d435a7d;

// Theme dark
$dark-core: #0c1221;
$dark-bg: #1a2332;
$dark-supp: #111827;
$dark-tab: #2196f3;
$dark-tab-light: #3949ab;
$dark-item: #202030;
$dark-item-light: #1f2937;
$dark-panel: #062a4e;
$dark-panel-active: #083766;

// Theme light
$light-core: #1c273f;
$light-bg: #26334e;
$light-supp: #344261;
$light-tab: #0e87d8;
$light-tab-light: #54a0d3;
$light-item: #3d4b6b;
$light-item-light: #3d4b6ba6;
