strong {
  color: #f8eee7 !important;
}
.hljs {
  color: #f9eae1 !important;
}
blockquote {
  padding: 0.1em 1em 0em 0.75em !important;
  border-left: 3px #feb32b solid !important;
  margin: 1em 1em !important;
  vertical-align: middle !important;
  background-color: #2f2f2f !important;
  line-height: 2.2em !important;
  text-align: justify !important;
}

code {
  color: #feb32b !important;
  padding: 2px 4px !important;
  font-size: 90% !important;
  background-color: #ffffff10 !important;
  border-radius: 4px !important;
  word-break: break-all !important;
}
