{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta
      name="description"
      content="CTF сонирхогч залуучуудад зориулан бүтээв"
    />
    <meta
      name="keywords"
      content="ctf, oyusec, byamb4, монгол, writeup, oyutech, oyutube, oyulearn, mongolian"
    />
    <meta name="author" content="Byambadalai Sumiya" />
    <meta name="copyright" content="Byambadalai Sumiya" />
    <meta name="creator" content="Byambadalai Sumiya" />
    <meta name="publisher" content="Byambadalai Sumiya" />
    <meta name="theme-color" content="#0c1221" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="OyuSec | CTF Платформ" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="mn_MN" />
    <meta property="og:site_name" content="OyuSec" />
    <meta
      property="og:description"
      content="CTF сонирхогч залуучуудад зориулан бүтээв"
    />
    <meta property="og:url" content="http://oyusec.ml/" />
    <meta property="article:author" content="https://facebook.com/byamb4" />
    <meta property="article:section" content="OyuSec" />
    <meta property="article:publisher" content="https://facebook.com/oyusec" />
    <meta property="fb:admins" content="byamb4" />
    <meta name="twitter:title" content="OyuSec | CTF Платформ" />
    <meta name="twitter:site" content="@byamb4" />
    <meta name="twitter:creator" content="@byamb4" />
    <meta
      name="twitter:description"
      content="CTF сонирхогч залуучуудад зориулан бүтээв"
    />
    <title>{{ title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap&subset=cyrillic,cyrillic-ext"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://avatars.githubusercontent.com/u/77679907"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link href="{% static 'main.css' %}" rel="stylesheet" />
  </head>
  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">OYUSEC</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Нүүр хуудас</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">API хуудас</h1>
        <p class="lead">
          Энэхүү хуудас нь
          <a href="http://oyusec.ml" class="aqua" target="_blank">oyusec.ml</a
          >-ийн back-end хуудас. Одоогийн байдлаар албан ёсны
          <span class="aqua">documentation</span> гараагүй байгаа тул асууж
          тодруулах зүйл гарвал бидэнтэй холбогдоно уу.
        </p>
        <p class="lead">
          <a
            href="https://facebook.com/oyusec"
            target="_blank"
            class="btn btn-lg btn-secondary"
            >Холбогдох</a
          >
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            Official Github Pages
            <a href="https://github.com/oyusec/" target="_blank">OyuSec</a>, by
            <a href="https://github.com/byamb4/" target="_blank">@ByamB4</a>
            <a href="https://github.com/enhbold/" target="_blank">@Enhbold</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>